[submodule "lumadeck"]
	path = lumadeck
	url = https://github.com/shotah/LumaDeck
[submodule "references/waveshare-esp32-s3-touch-lcd-1.85c"]
	path = references/waveshare-esp32-s3-touch-lcd-1.85c
	url = https://github.com/waveshareteam/ESP32-S3-Touch-LCD-1.85C.git
